*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  background-color: #111;
}

.card{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 1rem;
  padding:20px 5px;
}
.card:hover{
  transform: scale(1.08);
}
.card img{
  border-radius: 15px;
  height: 340px;
  object-fit: contain;
}

.card::-webkit-scrollbar{
  display: none;
}

@media screen and (max-width:480px){
  .card img{
    height:200px
  }
}
